<!DOCTYPE html>
<html lang="en">
<head>
    {{> headerLinks}}
</head>
<body>
    {{>navbar}}
    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--Left Side div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to getTarget</p>
                        <h1>Get The Latest <span class="text_clr">MBBS/MS</span> College Information</h1>
                        <a href="/registration"><button>check now</button></a>
                    </div>
                    <!--Right Side div-->
                    <div class="col-md-6 col-12 main_header_right">
                        <marquee behavior="scroll" direction="left"><h2 class="text_clr">Here is some scrolling text... right to left!</h2></marquee>
                    </div>
                </div>
            </div>  
        </div> 
    </div>  
    {{> footer}}
</body>
</html>