<!DOCTYPE html>
<html lang="en">
<head>
    {{> headerLinks}}
</head>
<body>
    {{>navbar}}
    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--Left Side div-->
                    <div class="col-md-4 col-12 main_header_left">
                        <p>Student Detail Page</p>
                        <h1>MBBS Rank : <span class="text_clr">230</span></h1>
                    </div>
                    <!--Right Side div-->
                    <div class="col-md-8 col-12 main_header_right">
             
                    </div>
                </div>
            </div>  
        </div> 
    </div>  
    {{> footer}}
</body>
</html>