<div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-sm">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="javascript:void(0)"><i class="fa-regular fa-snowflake"></i> GetTarget <i class="fa-regular fa-snowflake"></i></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="mynavbar">
                            <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/sdetail">Student Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/registration">Registrarion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>    
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>             
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>